* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.row {
  justify-content: space-around;
  padding-top: 50px;
}

nav.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

nav.navbar img {
  border-radius: 50px;
  width: 100px;
}

div#navbarNav.navbar-collapse.collapse {
  justify-content: flex-end;
  padding-bottom: 10px;

  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 10px;
}

.nav-item a {
  font-family: "Merriweather Sans", sans-serif;
  border-bottom: 2px solid transparent; /*subrayado navbar*/
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(114, 115, 117);
  border-bottom: 2px solid rgb(248, 207, 107);
}
/*fin navbar*/

/*Index home*/
/*línea separadora*/
.line {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.main-book__text {
  text-align: justify;
}

.main-book {
  background-color: rgb(233, 236, 239);
  padding-bottom: 50px;
}

.main-book__cover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-book__btn {
  background-color: rgb(248, 207, 107);
  border: none;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.main-book__btn:hover {
  background-color: rgb(255, 188, 66);
}

.main-book__title {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.more-read-books {
  padding-bottom: 50px;

  background: white;
}

.more-read-books__title {
  margin-left: 5px;
  padding-top: 10px;
}

.more-read-books__title--size {
  font-size: 2rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.more-read-books__title--weight {
  font-weight: bold;
}

.more-read-books__book--name {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
}

.more-read-books__book--author {
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  padding-top: 10px;
}

.more-read-books__btn {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.btn-secondary {
  background-color: rgb(248, 207, 107);
  color: white;
  border: none;
}

.month-author {
  background: rgb(233, 236, 239);
  padding-bottom: 50px;
}

.month-author__img {
  padding-top: 0px;
}

.month-author__title {
  font-size: 2.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.month-author__subtitle {
  font-size: 1.8rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.month-author__description {
  text-align: justify;
}

.month-author__description i {
  font-weight: bold;
}

.month-author__button {
  padding-left: 50px;
}

.month-author__button--style {
  background-color: rgb(248, 207, 107);
  border: none;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.month-author__button--style:hover {
  background-color: rgb(255, 188, 66);
}

.our-books {
  background-color: white;
}
.our-books--position {
  padding-top: 0px;
}

.our-books__title {
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.our-books__text {
  font-family: "Merriweather Sans", sans-serif;
}

.our-books__btn {
  padding-left: 1px;
}

.our-books__btn--style {
  background-color: rgb(248, 207, 107);
  border: none;
}

.our-books__btn--style:hover {
  background-color: rgb(255, 188, 66);
}

a.our-books__btn--link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.overflow {
  overflow-x: hidden;
}



@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-book__title {
    padding-top: 30px;
  }

  .more-read-books__btn {
    padding-bottom: 40px;
  }

  

}

/*fin index home*/

/*NOSOTRAS*/

.history-title {
  background-color: rgb(255, 188, 66);

  height: 500px;

  width: 100%;
}

div.history-title h1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 4rem;
  color: whitesmoke;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

main.history-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 15px;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  column-gap: 50px;
}

.start-history__text {
  padding-top: 30px;
  text-align: justify;
}

.history-container__img {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.quote__text {
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

.quote {
  padding-top: 30px;
}

.start-history__text a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .history-title {
    background-position: right;
  }

  main.history-container {
    display: flex;
    flex-direction: column;
  }

  .history-title h1 {
    text-align: center;
  }

  .quote__text {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
  }

  .history-container__img {
    width: 100%;
  }
}

/*fin seccion nosotras*/

/*inicio seccion contacto*/

.contactoContainer {
  background-color: rgb(216, 216, 216);
}
.contactoContainer h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 30px;
  font-family: "Merriweather Sans", sans-serif;
}

.contactoContainer p {
  display: flex;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
}

form {
  display: grid;
  justify-items: center;
}

.nombreForm,
.apellidosForm,
.emailForm,
.telefonoForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: black;
}

/*animaciones formulario*/
.telefonoForm:hover,
.nombreForm:hover,
.apellidosForm:hover,
.emailForm:hover {
  transform: scale(1.1);
}

/* fin animaciones form*/

.nombreForm label,
.apellidosForm label,
.emailForm label,
.telefonoForm label,
.teleemosForm label {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Merriweather Sans", sans-serif;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(173, 181, 189);
  border-radius: 25px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(173, 181, 189);
  border-radius: 25px;
}

.nombreApellidos,
.emailTlf {
  display: flex;
}

.teleemosForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: black;
}

input[type="submit"] {
  background-color: rgb(255, 188, 66);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.enviar {
  display: flex;
  padding: 20px;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
}

textarea[placeholder] {
  padding: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contactoContainer h1 {
    display: flex;
    text-align: center;
    justify-content: right;
    font-size: 2rem;
  }

  section.contactoContainer,
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nombreForm label,
  .apellidosForm label,
  .emailForm label,
  .telefonoForm label,
  .teleemosForm label {
    font-size: 1rem;
  }
}

/* fin de contacto*/

/*servicios title*/

.servicios__title {
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: "Merriweather Sans", sans-serif;

}

.servicios__text {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .servicios__title {
    font-size: 1.7rem;
  }
}

/*CATALOGO*/

.catalog__background {
  background-color: rgb(233, 236, 239);
  margin-left: 0px;
  margin-right: 0px;
}
.catalog__title {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.catalog__text {
  padding-top: 20px;
  padding-left: 20px;
  text-align: justify;
  font-size: 1rem;
  color: rgb(109, 109, 109);
  font-family: "Merriweather Sans", sans-serif;
}
.catalog__position {
  padding-top: 0px;
}
.catalog__list {
  padding-left: 0px;
  padding-right: 0px;
}

.list-group {
  border-radius: 0px;
}

.list-arte {
  background-color: rgb(160, 196, 255);
}

.list-pensamiento {
  background-color: rgb(253, 255, 182);
}

.list-autoedicion {
  background-color: rgb(189, 178, 255);
}

.list-poesia {
  background-color: rgb(255, 214, 165);
}

.list-narrativa {
  background-color: rgb(255, 198, 255);
}

.list-arte,
.list-autoedicion,
.list-narrativa,
.list-pensamiento,
.list-poesia {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  padding: 50px;
}
