$backgroundBtn: rgb(248, 207, 107);
$hoverBtn: rgb(255, 188, 66);
$grisBackground: rgb(233, 236, 239);
$grisClaro: rgb(52, 58, 64); 
$grisLight: rgb(69, 71, 73);
$blancoRoto: rgb(248, 249, 250);
$negro: black;
