footer {
  background: rgb(183, 184, 185);
  display: $flex;
  padding: $padding;
  justify-content: $espacioEntre;
  height: $altura;
  flex-direction: $fila;
  img {
    width: 100px;
    border-radius: 50px;
  }

  h3 {
    font-size: $titulosh3;
    color: $grisClaro;
    font-family: $font;
    font-weight: $negrita;
  }

  .informacionFooter {
    ul {
      list-style-type: none;
      font-size: $listas;
      text-align: $textoCentrado;
      padding: $paddingListas;
      font-weight: lighter;
      color: $grisLight;
    }

    i {
      color: $grisClaro;
    }

    li {
      font-family: $font;
    }
  }

  .redesSociales {
    h3 {
      text-align: $textoCentrado;
      padding-bottom: $paddingB;
      font-weight: $negrita;
      color: $grisClaro;
    }

    .fa-instagram:hover,
    .fa-twitter:hover,
    .fa-spotify:hover,
    .fa-facebook:hover {
      color: $blancoRoto;
    }

    i {
      color: rgb(52, 58, 64);
    }
  }

  .ubicacionFooter {
    h3 {
      text-align: center;
      color: rgb(52, 58, 64);
    }

    a {
      text-decoration: none;
      color: $negro;
      font-size: $listas;
      font-weight: lighter;
      color: $grisLight;
      font-family: $font;

      &:hover {
        color: $blancoRoto;
      }
    }
  }

  .paratiFooter {
    ul {
      list-style-type: none;
      text-align: $textoCentrado;
      font-weight: lighter;
      font-size: $listas;
    }

    a {
      text-decoration: none;
      color: $grisLight;
      font-family: $font;
      &:hover {
        color: $blancoRoto;
      }
    }
  }

  .informacionFooter,
  .paratiFooter {
    h3 {
      text-align: $textoCentrado;
      font-weight: $negrita;
    }
  }
}

