.row {
  justify-content: space-around;
  padding-top: 50px;
}

nav.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
  img {
    border-radius: 50px;
    width: 100px;
  }
}

div#navbarNav.navbar-collapse.collapse {
  justify-content: flex-end;
  padding-bottom: 10px;
  font-weight: $negrita;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 10px;
}

.nav-item {
  a {
    font-family: $font;
    border-bottom: 2px solid transparent;
  }
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: rgb(114, 115, 117);
    border-bottom: 2px solid rgb(248, 207, 107);
  }
}
