/*botones de servicios*/

.servicios {
  background-color: $grisBackground;
}

.btn-servicios {
  color: white;
  width: 50%;
  background-color: $backgroundBtn;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.btn-servicios {
  &:hover {
    background-color: $hoverBtn;
  }

  &:focus {
    background-color: $hoverBtn;
  }
}

.btn-servicios--position {
  padding-bottom: 10px;
}

.btn-servicios-2,
.btn-servicios-3 {
  @extend .btn-servicios;
}

/*title*/
.title-card {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
}

.title-card-2,
.title-card-3 {
  @extend .title-card;
}

.card-text {
  text-align: justify;
}

.card-img-top {
  width: 100%;
  height: 520px;
}

.servicios__text {
  font-family: $font;
}

.servicios__title {
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: $font;
}

.servicios__text {
  display: flex;
  justify-content: center;
}


