$listas: 0.9rem;
$titulosh3: 1.2rem;
$ancho: 6.25rem;
$altura: 70%;
$padding: 30px;
$paddingT: 10px;
$paddingB: 20px;
$paddingListas: 5px;

/*mobile*/
$alturaMob: 150%;
$titulosh3Mob: 1.4rem;
$paddingTmob: 20px;