<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Librería alternativa, Veu i Vot, Valencia: encontrarás libros de Arte, Poesía, Narrativa y Pensamiento, pero nunca verás autores canonizados.">
    <meta name="keywords"
        content="libros, librería alternativa, novela, crítica, ensayo, poesía, lectura contemporánea, narrativa, arte, literatura, autopublicación">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b9809c06c2.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>Nosotras - Veu i Vot</title>
</head>

<body>


    <!--INICIO NAVBAR-->

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="../index.html"><img src="../assets/img/Veu i vot logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nosotras.html">Nosotras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalogo.html">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                </li>



            </ul>


            </ul>


        </div>
    </nav>
    <!--NAVBAR FIN-->

    <div class="history-title">
        <h1>Capítulo 1: nuestra historia</h1>
    </div>

    <main class="history-container">


        <img src="../assets/img/Cubierta_El-grupo.jpeg" alt="" class="history-container__img">



        <p class="start-history__text">
            <strong>Érase una vez...</strong><br>

            <br>dos filólogas que se conocieron en Alemania en unas jornadas de profesorado de
            ELE.

            Somos Saioa, 24 años de Bilbao y Carol, 26 años, de Valencia. Ambas conectamos de forma inmediata y nos
            damos
            cuenta de
            que son muchas las cosas que compartimos, pero hay una que a ambas nos apasiona: los libros.

            Entre clases, viajes y vinos bromeábamos sobre darle forma a esa idea, que entonces solo existía cuando la
            mencionábamos. <br>
            
            <br>Pero, como bien sabemos, el vino es el caballo más rápido para los soñadores y, al final,
            entre broma y broma...

            Un año después, nos sorpendemos a nosotras mismas. Aquello en lo que nos recréabamos por pura diversión y
            soñando
            despiertas se materializa. Y toma forma en Valencia, donde ambas somos propietarias de un espacio que hemos
            creado para dar rienda suelta a su pasión por la lectura, los libros y la reivindicación a través de todo ello.

            Así nace <i>Veu i Vot</i>.<br>






            <br><strong>¿Qué es <em>Veu i Vot?</em></strong> <br>
            <br>La respuesta breve sería: una librería que se encuentra en Benimaclet, uno de los
            barrios con más esencia
            alternativa de toda Valencia, donde puedes encontrar libros nuevos y también de segunda mano, porque
            leer no debería ser un lujo. Esto,sin embargo, sabe a poco.<br>

            <br>La respuesta larga nos cuenta mucho más: es un espacio de lectura alternativa donde no vas a encontrar
            autores canonizados o <em>Best Sellers</em>.
            Porque si algo pretendemos es, precisamente, romper con el canon literario que peca de ser oligárquico.<br>

            <br>Hemos elegido cuatro grandes áreas temáticas:
            <a href="catalogo.html">Arte, Pensamiento, Poesía, Narrativa</a>. Además, también hay
            cabida para nuevas voces que se embarcan en la aventura de la <a href="catalogo.html">autopublicación</a> y
            que no suelen tener un hueco entre las baldas de las librerías.<br>

           <br> Aquí, se trata de cambiar nuestra forma de ver y entender la literatura y la lectura, de mirar a través
            de un caleidoscopio y, con este tipo
            obras, tener la valentía de asomarse a una perspectiva múltiple, crítica, contemporánea y diferente. En
            definitiva, se trata de que las minorías tengan voz y voto porque, lectoras, lectores: <b>el canon ha
                muerto.</b><br>

            <br><strong>¿Para quiénes?</strong><br>

            <br><em>Veu i Vot</em> es para todo el mundo, en realidad.

            Para todo el mundo que tenga en su interior un instinto de subversión cultural, que tenga ganas de
            salirse de lo impuesto, de lo normativo, que tenga ganas de explorar otras narrativas, otros
            lugares literarios, de escuchar otras voces y darles voto, de alimentar su ávida curiosidad con relatos
            o ensayos que hubieran sido carne de censura no hace mucho.
            Es para aquellas personas que entienden la lectura como una verdadera revolución y ven el acto de
            sostener un libro entre manos como la acción más capaz de transformar el mundo cuyo poder va más allá que
            cualquier
            contienda.

        </p>

    </main>


    <div class="quote container">
        <div class="line"></div>
        <p class="quote__text"> "Querides amantes de los libros: si nos queda algo verdaderamente democrático es la
            lectura".</p>
    </div>


    <!--INICIO FOOTER-->

    <footer class="piePagina">
        <div class="logoFooter" >
            <a href="../index.html">
                <img src="../assets/img/veu-i-vot-logo-footer.png" alt="logo veu-i-vot librería alternativa">
            </a>
        </div>


        <div class="redesSociales">

            <h3>SÍGUENOS</h3>

            <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>

            <a href="https://twitter.com/?lang=es" target="_blank"> <i class="fab fa-twitter fa-2x"></i></a>

            <a href="https://es-es.facebook.com/" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a>

            <a href="https://www.spotify.com/es/" target="_blank"><i class="fab fa-spotify fa-2x"></i></a>



        </div>


        <div class="informacionFooter">
            <h3>INFORMACIÓN</h3>
            <div class="listaFooter">
                <ul>
                    <li> <i class="fas fa-envelope"> </i> veuivot@gmail.com</li>
                    <li><i class="fas fa-phone"></i> (+34) 691415000 </li>
                    <li> <i class="fas fa-clock"></i> L - S: 10:00 - 14:00/ 16:00 - 20:00</li>
                </ul>
            </div>
        </div>

        <div class="paratiFooter">
            <h3>PARA TI</h3>

            <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="catalogo.html">Catálogo </a></li>
                <li><a href="contacto.html">¿Pedidos especiales?</a></li>
            </ul>

        </div>

        <div class="ubicacionFooter">

            <a href=" http://maps.google.com/?q=46004,Valencia, Calle Cadiz, 8" target="_blank" class="location">
                <h3> <i class="fas fa-map-marked-alt fa-2x"></i> </h3> Ven a dar voz y voto. ¡Te esperamos aquí!
            </a>
        </div>




    </footer>
    <!--FIN FOOTER-->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>