<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Librería alternativa, Veu i Vot, Valencia: encontrarás libros de Arte, Poesía, Narrativa y Pensamiento, pero nunca verás autores canonizados.">
    <meta name="keywords"
        content="libros, librería alternativa, novela, crítica, ensayo, poesía, lectura contemporánea, narrativa, arte, literatura, autopublicación">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b9809c06c2.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>Servicios - Veu i Vot</title>
</head>

<body>


    <!--INICIO NAVBAR-->

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="../index.html"><img src="../assets/img/Veu i vot logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nosotras.html">Nosotras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalogo.html">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                </li>



            </ul>


            </ul>


        </div>
    </nav>
    <!--NAVBAR FIN-->


<main class="servicios">
    <h1 class="servicios__title">Hay muchas formas de leer</h1>

    <p class="servicios__text">estas son las que nosotras te proponemos:</p>

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-3 ">

            <div class="col-lg-3 col mb-4">
                <div class="card h-100">
                    <img src="../assets/img/cafeteria.jfif" class="card-img-top" class="img-fluid"
                        alt="cafetería vintage">
                    <div class="card-body">
                        <h5 class="card-title title-card">Cafetería</h5>
                        <p class="card-text">Por si pensabas que ibas a venir, husmear entre los estantes, caer en la
                            desesperación porque quieres comprarte todos los libros, escoger uno o ninguno e irte, te
                            adelantamos que no. No podrás evitar quedarte en nuestra cafetería llena de estantes con
                            libros que podrás usar mientras te tomas un vino, un té o te atreves con nuestras noches de
                            micrófono abierto los jueves y los viernes donde podrás recitar poesía, cantar, tocar algún
                            instrumento o lo que te apetezca mostrar al honorable y querido público.</p>
                    </div>
                    <div class="row justify-content-center btn-servicios--position"> <button type="button"
                            class=" btn-servicios"><i class="fas fa-plus-circle"></i></button> </div>
                </div>

            </div>
            <div class="col-lg-3 col mb-4">
                <div class="card h-100">
                    <img src="../assets/img/lectura conjunta.jfif" class="card-img-top" class="img-fluid"
                        alt="dos chicas con dos libros en la mano tumbadas en la cama">
                    <div class="card-body">
                        <h5 class="card-title title-card-2">Lectura conjunta</h5>
                        <p class="card-text">La lectura parece un hábito que requiere de la soledad, solo basta la buena
                            compañía de un libro y ya estaría. Pero, esto no es del todo cierto. Hay algo que la hace
                            todavía más gratificante: compartirla. Cuatro ojos leen más que dos y seis opiniones
                            enriquecen más que tres. Por eso, hemos creado el club de lectura conjunta que se hará con
                            una frecuencia semanal. Porque queremos escuchar todo aquello que tengáis que decir sobre
                            sea cuál sea el libro que hayamos decidido que nos zarandee y nos deje diferentes a como
                            estábamos antes de leerlo.</p>
                    </div>
                    <div class="row justify-content-center btn-servicios--position"> <button type="button"
                            class=" btn-servicios-2"><i class="fas fa-plus-circle"></i></button> </div>
                </div>
            </div>
            <div class=" col-lg-3 col mb-4">
                <div class="card h-100">
                    <img src="../assets/img/libros sorpresa.jfif" class="card-img-top" class="img-fluid"
                        alt="una mano que sostiene libros">
                    <div class="card-body">
                        <h5 class="card-title title-card-3">De la librería a tu casa</h5>
                        <p class="card-text">Entendemos que a veces no aptezca salir de casa y más si es para quedarse
                            leyendo. Así que, ya nos movemos nosotras por ti. Puedes hacer pedidos online y en menos de
                            lo que tardarías en leerte el capítulo de la novela que más te gusta tendrás un libro o los
                            que quieras en la puerta de tu casa.
                            Además, recibirás algunas sorpresas para que tu momento de lectura sea todavía más
                            placentero. ¿Quieres saber más? Anímate a disfrutar de
                            este servicio y descubre todo lo que tenemos preparado para ti.
                        </p>

                    </div>
                    <div class="row justify-content-center btn-servicios--position"> <button type="button"
                            class=" btn-servicios-3"><i class="fas fa-plus-circle"></i></button> </div>
                </div>
            </div>


        </div>
    </div>

</main>













    <!--INICIO FOOTER-->

    <footer class="piePagina">
        <div class="logoFooter" >
            <a href="../index.html">
                <img src="../assets/img/veu-i-vot-logo-footer.png" alt="logo veu-i-vot librería alternativa">
            </a>
        </div>


        <div class="redesSociales">

            <h3>SÍGUENOS</h3>

            <a href="https://www.instagram.com" target="_blank" > <i
                    class="fab fa-instagram fa-2x"></i></a>

            <a href="https://twitter.com/?lang=es" target="_blank" > <i
                    class="fab fa-twitter fa-2x"></i></a>

            <a href="https://es-es.facebook.com/" target="_blank" > <i
                    class="fab fa-facebook fa-2x"></i></a>

            <a href="https://www.spotify.com/es/" target="_blank" ><i
                    class="fab fa-spotify fa-2x"></i></a>



        </div>


        <div class="informacionFooter">
            <h3>INFORMACIÓN</h3>
            <div class="listaFooter">
                <ul>
                    <li> <i class="fas fa-envelope"> </i> veuivot@gmail.com</li>
                    <li><i class="fas fa-phone"></i> (+34) 691415000 </li>
                    <li> <i class="fas fa-clock"></i> L - S: 10:00 - 14:00/ 16:00 - 20:00</li>
                </ul>
            </div>
        </div>

        <div class="paratiFooter">
            <h3>PARA TI</h3>

            <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="catalogo.html">Catálogo </a></li>
                <li><a href="contacto.html">¿Pedidos especiales?</a></li>
            </ul>

        </div>

        <div class="ubicacionFooter">

            <a href=" http://maps.google.com/?q=46004,Valencia, Calle Cadiz, 8" target="_blank" class="location">
                <h3> <i class="fas fa-map-marked-alt fa-2x"></i> </h3> Ven a dar voz y voto. ¡Te esperamos aquí!
            </a>
        </div>





    </footer>
    <!--FIN FOOTER-->
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

</body>


</html>